/*palette*/
:root{
--color1:#000322;
--color1a:#002C3E;
--color2:white;
--color3:#5AB1D1;
}  
/*base reset*/
*{
margin:0;
padding:0;
}
/*box-sizing, base font*/
html{
Box-sizing:border-box;
font-family: 'Mohave', sans-serif;

/* Set font size for easy rem calculations
* default document font size = 16px, 1rem = 16px, 100% = 16px
* (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

  
/*navbar*/
#navbar{
width:100%;
height:10rem;
position:fixed;
top:0;
background-color: var(--color1a);
display:flex;
justify-content:flex-end;
z-index:1;
}
#navbar a{
color:var(--color2);
text-decoration:unset;
font-size:2rem;
width:25vw;
padding:3.5rem 0 0 0 ;
text-align:center;
font-weight:bold;
overflow:hidden;
z-index:3;
}
#navbar a:visited{
color:var(--color2);
text-decoration:unset;
}
#navbar a:hover{
background-color:var(--color1);

text-shadow: 1px 1px 10px #5AB1D1,-1px 1px 10px #5AB1D1,1px -1px 10px #5AB1D1,-1px -1px 10px #5AB1D1;

}
/*welcome*/
#welcome-section{
  width:100%;
  height:100vh;
  background-color: var(--color1);
  color:var(--color2);
  text-align:center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-section h1{
  font-size:4rem;
  margin-bottom:40px;
}
#welcome-section h1 img{
  width:22rem;
  position:relative;
  top:38px;
}

#welcome-section h2{
  font-size:2rem;
  font-style:italic;
  font-weight:normal;
}

/*project section*/

#projects{
background-color:var(--color1a);
}

#projects h1{
  font-size:4.2rem;
  margin:0 auto 3rem auto;
  max-width:360px;
  text-align:center;
  color:var(--color2);
  border-bottom:solid 2px var(--color2);
}
#project-grid{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap:4rem;
  margin:auto 3rem;
  padding-bottom:3rem;

}
.project-tile{
  background-color:var(--color1);
  display:flex;
}
.project-tile img{
  width:100%;
  height:calc(100% - 6rem);
  object-fit: cover;
}
.project-tile a{
  text-decoration:none;
}
.project-tile a:hover{
text-shadow: 1px 1px 10px #5AB1D1,-1px 1px 10px #5AB1D1,1px -1px 10px #5AB1D1,-1px -1px 10px #5AB1D1;}

.project-title{
 color:var(--color2);
 font-size:2rem;
 text-align:center;
 padding:2rem 0rem;
}

/*contact section*/

#contact{
  background-color:var(--color1);
  width:100%;
  text-align:center;
}
#contact h1{
  font-size:4rem;
  color: var(--color2)
}
#contact h2{
  font-size:2rem;
  color: var(--color2);
  font-style:italic;

}
#contact-box{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  background-color:var(--color1);
  gap:25px;
}
#contact a svg{
  fill:var(--color2);
  transition: scale 0.3s ease-in-out 0s;
  padding:1rem;
}
#contact a img{
  padding:2rem;
}


#contact a:hover{
  scale:1.3;
  filter: drop-shadow(0px 0px 10px #5AB1D1)
}
#contact a{
  display:flex;
  flex-direction:row;
  flex-wrap:no-wrap;
  justify-content:center;
  align-items:center;
  text-decoration: none;
  transition: scale 0.3s ease-in-out 0s;
}
.link-text{
  color:var(--color2);
  font-size:3rem;
}

@media  (max-width: 450px) {
  #navbar {
    justify-content:center;
  }
  #navbar a{
    width:100%;
  }
 #welcome{
  display:block;
}
 #contact a{
  scale:0.5;
}

#contact-box{
  column-gap:0px;
  row-gap:0px;
}

#contact a:hover{
  scale:0.8;
}
#contact a svg{
  padding:0rem;
}
#contact a img{
  padding:0rem;
}
}

